<h1>Listing documents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Entity type</th>
    <th>Entity</th>
    <th>Upload file name</th>
    <th>Upload content type</th>
    <th>Upload file size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.name %></td>
    <td><%= document.entity_type %></td>
    <td><%= document.entity_id %></td>
    <td><%= document.upload_file_name %></td>
    <td><%= document.upload_content_type %></td>
    <td><%= document.upload_file_size %></td>
    <td><%= link_to 'Show', document %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
